[Unit]
Description=Nextcloud inotify scan

[Service]
Type=simple
User=www-data
Environment=NEXTCLOUD_HOME=/path/to/nextcloud
Environment=USER_NAME=watcheduser
## For use with docker, set the following.
# Environment=USE_DOCKER=True
# Environment=DOCKER_USER=www-data
# Environment=DOCKER_CONTAINER=nextcloud_app
## For customized data directory, set the following.
# Environment=DATA_DIR=/path/to/data
ExecStart=/usr/local/bin/nextcloud-inotifyscan

[Install]
WantedBy=multi-user.target

